﻿table {
    width: 70%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    background-color: lightblue;
}

button {
    margin: 5px;
    padding: 5px;
}

#ShowButtons {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#NonCrudYOOCandRMOTBFORM1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #NonCrudYOOCandRMOTBFORM1 label, button, input {
        margin: 5px;
        padding: 5px;
    }

    #NonCrudYOOCandRMOTBFORM1 label {
        font-weight: bolder;
    }

#NonCrudAvgCarAgeFORM3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #NonCrudAvgCarAgeFORM3 label, button, input {
        margin: 5px;
        padding: 5px;
    }

    #NonCrudAvgCarAgeFORM3 label {
        font-weight: bolder;
    }



#NonCrudBrandWTMCFORM4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #NonCrudBrandWTMCFORM4 label, button, input {
        margin: 5px;
        padding: 5px;
    }

    #NonCrudBrandWTMCFORM4 label {
        font-weight: bolder;
    }


#NonCrudConcernWTMBFORM5 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #NonCrudConcernWTMBFORM5 label, button, input {
        margin: 5px;
        padding: 5px;
    }

    #NonCrudConcernWTMBFORM5 label {
        font-weight: bolder;
    }

table button {
    padding: 1px;
}
